.ceo__img__wrapper {
  width: 36.4%;
  position: absolute;
  top: 0;
  left: 30px;

  @include mq('tab') {
    width: 100%;
    max-width: 320px;
  }

  @include mq('sp') {
    max-width: 90%;
    left: 0;
  }

  img {
    @include mq('sp') {
      width: 300px;
      height: 226px;
      object-fit: cover;
    }
  }
}

.vision__content {
  width: 840px;
  max-width: 70%;
  margin-left: auto;
  padding: 120px 0 60px;

  @include mq('sp') {
    width: 100%;
    max-width: 100%;
  }
}

.vision__content__inner {
  max-width: 400px;
  padding: 0 30px;
  margin: 0 auto;
}

.relative {
  position: relative;
  padding-top: 150px;

  @include mq('tab') {
    padding-top: 120px;
  }
}

.ceo__message {
  font-weight: bold;
}